/* 

    General Styles
*/
#header{
    background-color: black;
}
#btn{
    
    border: 1px solid #73DE09;
}

#btn:hover{
    background-color: #73DE09;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: auto;
    margin-top: 100px;
}
.img-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#btn-submit{
    background-color: #73DE09;
    color: white;
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: auto;
    margin-top: 15px;
}

.container{
   
    position: relative;
    display: inline-block;
    text-align: center;
    opacity: 0.9;
    background-color: black;
   

}
.texto-encima{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: black;
    font-size: 60px;

}
.texto-encima2{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.card-img-top{
    width: 100px;
    height: 100px;
}

.travel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: auto;
    margin-top: 15px;
}
.container-father-perfil{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;

}
#btn-editar:active{
    background-color: #73DE09;
    color: white;
    
}
#btn.editar::selection{
    border: 1px solid #73DE09;
}
.icono{
    font-size: 70px;
    color: #73DE09;
}
.icono-travel{
    font-size: 28px;
    color: #73DE09;
}

#btn-travel{
    border: 1px solid #73DE09;
    color: #73DE09;
}
#btn-travel:hover{
    background: linear-gradient(to right,
    white 2%, #73DE09 80%);

}

.section-icon{
    margin-top: 60px;
}
.section-text-image{
    margin-top: 60px;
}
.dropdown .dropdown-menu[data-bs-popper] {
    top: 100%;
    right: 0;
    left: auto;
    margin-top: 0.125rem;
    margin-right: 0;
    padding-bottom: 1px;
}
#btn-inicio:hover{
    background-color:#73DE09;
    
}
.details-travel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: auto;
    margin-top: 15px;
}
.icono-travel-information{
    font-size: 80px;
    color: #73DE09;
    margin-left: 10px;
}
.con-fa{ 
    display: flex;
    justify-content: center;
}

.icono-pdf{
  
    font-size: 40px;
}